<!DOCtype html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>

<head>
    <meta http-equiv="Content-type" content="text/html; charset=ISO-8859-1">
    <title>Survey</title>
</head>

<body>
    <p>Survey page: <%=pageNumber%> for user <%=username%><br /><br />
        <%=question%>
    </p>
    <p>
        <a href="./preferences.jsp">Set your rendering preferences</a>
    </p>
    <p>
        <form action="./controller" method="POST">
            <input type="hidden" name="action" value="survey" />
            <% for (var i = 0; i < options.length; i++) { %>
            <input type="radio" name="answer" value=<%= i %> 
                <% if(answer[pageNumber-1] != -1 && answer[pageNumber-1] == i) { %>
                    checked
                <% } %>
            >
                <%=options[i].choice%>
            </input>
            <% if(preference != 'horizontal') { %>
            <br />
            <% } %>
            <% } %>

            <% if(pageNumber != 1) { %>
            <input type="submit" name="submit" value="previous"></input>
            <% } %>
            <input type="submit" name="submit" value="next"></input>
        </form>        
    </p>
</body>

</html>